<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
    <mvc:resources mapping="/js_css/**" location="/js_css/"/>
    <mvc:resources mapping="/files/**" location="/files/"/>
    <mvc:resources mapping="/favicon.ico" location="/favicon.ico"/>
    <mvc:annotation-driven />
    <context:component-scan base-package="com.imonkeyz.demo.*" />
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/upload"/>
            <bean class="com.imonkeyz.demo.interceptor.FileUploadInterceptor">
                <property name="maxSize" value="204800"/>
            </bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/files/**"/>
            <bean class="com.imonkeyz.demo.interceptor.AntiLeechInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        &lt;!&ndash;<property name="maxUploadSize" value="2048000"/>&ndash;&gt;&lt;!&ndash;1024*200即200k&ndash;&gt;
        &lt;!&ndash;<property name="resolveLazily" value="true"/>&ndash;&gt;&lt;!&ndash;resolveLazily属性启用是为了推迟文件解析，以便在UploadAction 中捕获文件大小异常&ndash;&gt;
    </bean>-->
    <bean id="resourceController" class="com.imonkeyz.demo.controller.ResourceController">

        <property name="allowUrls">
            <map>
                <entry key="home">
                    <map>
                        <entry key="module">
                            <list>
                                <value>/</value>
                            </list>
                        </entry>
                        <entry key="file">
                            <list>
                                <value>/home/css/home.css</value>
                                <value>/home/css/home-custom.css</value>
                                <value>/product/css/product.css</value>
                            </list>
                        </entry>
                    </map>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="multipartResolver" class="com.imonkeyz.demo.resolver.CustomMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/" />
        <property name="suffix" value=".jsp" />
    </bean>
    <!--<bean class="com.imonkeyz.demo.startup.JawrListener"/>-->
    <bean class="com.imonkeyz.demo.startup.JawrDebugModeListener"/>
    <!--<bean class="com.imonkeyz.demo.startup.JawrPropertiesGenerator" p:name="jesse.zhou"/> -->
    <bean class="com.imonkeyz.demo.startup.TestPostConstruct" p:name="skkdkdkdk"/>
</beans>